$default-padding:20px;
$default-font: 'Helvetica Neue', 'Open Sans';
$default-background: linear-gradient(180deg, #294661 0%, #678EB5 100%);
$color-input-background: var(--color-white);
$color-input-text: var(--color-grey);
$color-input-error: var(--color-error)